.post {
    /* border:1px solid cyan; */
    background:white;
    margin:12px 0;
    padding-bottom:12px;
    line-height:1.5;
    display: flex;
    flex-direction: column;
}

.post header {
    align-items:center;
    display:flex;
    margin:12px 8px;
}

.post h2, .post h3 {
    color:black;
    font-size: 0.75rem;
    margin:0 8px;
}

.post img {
    max-width:100%;
}

.post img.thumbnail {
    border-radius:50%;
    width:24px;
}

.post i {
    margin:12px 8px;
}

.post i:hover {
    cursor: pointer;
}

.post .time-stamp {
    color:grey;
    font-size:0.33rem;
    margin:0 8px;
}