.post {
    /* border:1px solid cyan; */
    background:white;
    margin:12px 0;
    padding-bottom:12px;
    line-height:1.5;
    display: flex;
    flex-direction: column;

    h2, h3 {
        color:black;
        font-size: 0.75rem;
        font-weight: bold;
        margin:0 8px;
    }

    header {
        align-items:center;
        display:flex;
        margin:12px 8px;
    }

    i {
        margin:12px 8px;
        &:hover {
            color:magenta;
            cursor: pointer;
        }
    }

    img {
        max-width:100%;
        &.thumbnail {
            border-radius:50%;
            width:24px;
        }
    }

    .time-stamp {
        color:grey;
        font-size:0.33rem;
        margin:0 8px;
    }
}